<!doctype html>
<html>
  <head>
    <title>Region List</title>
  </head>
  <body>
    <h1>LOGIN</h1>
    <form action="/login" method="POST">
      <div>
        <label for="username">Cloud Username</label>
        <input name="username" type="text" />
      </div>
      <div>
        <label for="password">Cloud Password</label>
        <input name="password" type="password" />
      </div>
      <div>
        <button type="submit">Submit</button>
      </div>
    </form>
  </body>
</html>
